

*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

@media only screen and (max-device-width : 1200px) {
    body{
        width: 1200px;
    }
}

.banner{
    margin: 0;
    
    text-shadow: 3px 3px 5px #666666;
    color: #ffb8b8;
    text-align: center;
    vertical-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;

}

body {
    /* width: 100%; */
    margin: 0;
    padding: 0;
    /* background-color: #494f66; */
    background-color: #523c4c;
    /* width: 1200px; */
    /* width: 100%; */
}

.subTit{
    text-align: center;
    align-content: center;
    justify-self: center;
    /* background: #3967b1; */
    background: #ffb8b8;
    color: white;
}

.subHeader{
    width: 80%;
    margin: auto;
    font-size: 2rem;
    line-height : 4rem;
    text-align: center;
    color: white;
}

.presentacion{
    width: 80%;
    margin: auto;
    /* text-indent: 4rem; */
    font-size: 1.4rem;
    line-height : 2.4rem;
    text-align: justify;
    color: white;
}

/* .bienvenido{
    text-align: center;
    font-size: 3rem;
    color: white;
} */

iframe{
    display: flex;
    margin: auto;
}



/* DRAG 2 */
.container {
    background-color: rgba(172, 39, 39, 0);
    position: absolute;
}


.draggable {
    cursor: move;
    overflow: auto;
}

.draggable.dragging {
    opacity: .5;
    /* transform: scale(1.5); */
}

